<div style="height: 0vh;"></div>

<div
    class=" h-auto vw-100 col-12 col-md-11 border-0 border-danger d-flex flex-column flex-md-row align-items-center justify-content-center mt-3 mt-md-0">
    <div
        class="border col-11 col-md-6 h-auto gap-3 d-flex flex-column align-items-start justify-content-evenly ps-0 ps-md-5">
        <div
            class="col-10 col-md-5 rounded-5 border border-1 font-size py-2 d-flex align-items-center justify-content-center main-bg-light font-color">
            <i class="fa fa-star" aria-hidden="true"></i>
            130+ Students Successfully Placed
        </div>
        <h1 class="landingFS">
            Launch Your
            <span class="font-color">Tech <br> Career</span>
            with <br>
            <span class="landing-text-under">Kisstech</span>
        </h1>
        <p class="col-10 col-md-8">
            Master in-demand skills with our comprehensive training programs in UI/UX Design, Digital Marketing, and
            more. Get job-ready with hands-on projects and guaranteed placement support.
        </p>
        <div class="col-12 col-md-8 d-flex align-items-center justify-content-start">
            <button class="btn btn-bg me-3"> Join Free Program <i class="fa fa-long-arrow-right"
                    aria-hidden="true"></i></button>
            <button class="btn btn-bg-border"><i class="fa fa-play" aria-hidden="true"></i>Watch Demo </button>
        </div>
        <div class="col-10 font-size">
            <i class="fa fa-user" aria-hidden="true"></i>
            500+ Active Learners
            <i class="fa fa-trophy ms-3" aria-hidden="true"></i>
            Industry Certified
        </div>
    </div>
    <div class="border col-11 col-md-6 vh-100 d-flex flex-column mt-4 mt-md-0 ">
        <div class="w-100 h-75 border d-flex justify-content-end">
            <div class="w-50 border h-75 rounded-4 me-5 shadow-lg landBoxAnime">

            </div>
        </div>
        <div class="w-100 h-25 border d-flex justify-content-center ">
            <div class="w-25 border h-75 rounded-4 shadow landBoxAnime2">

            </div>
        </div>
        <div class="w-100 h-50 border">
            <div class="w-25 border h-75 rounded-4 shadow landBoxAnime2">

            </div>
        </div>
    </div>
</div>