/* Optional gradients or theme styles */
.bg-gradient-purple {
  background: linear-gradient(to bottom left, #a855f7, #ec4899);
}

.bg-gradient-blue {
  background: linear-gradient(to bottom left, #3b82f6, #06b6d4);
}

/* Add others based on 'color' values if needed */

::ng-deep .custom-carousel .p-carousel-item {
  padding: 1rem;
  // height: 100%;
  width: 40%;
}

::ng-deep .p-carousel-item {
  display: flex;
  justify-content: center;
}

::ng-deep .p-carousel-item > * {
  width: 100%;
  // max-width: 100%;
}

@media (max-width: 425px) {
  ::ng-deep .p-carousel-item > * {
    width: 40%;
    // max-width: 100%;
  }
}

@media (max-width: 320px) {
  ::ng-deep .p-carousel-item > * {
    width: 35%;
    // max-width: 100%;
  }
}

p {
  margin-bottom: 0;
}
