<div id="About" class="vw-100 border=0 d-flex flex-column align-items-center gap-3 py-4" id="About">
  <div class="col-12 d-flex  align-items-center justify-content-center ">
    <button class="btn btn-bg-border font-color font-size">About Kisstech Academy</button>
  </div>
  <div class="col-12 d-flex gap-2 flex-column align-items-center justify-content-center ">
    <h2 class="fw-bold fs-1 text-center">Transforming Careers Through <span class="font-color">Quality
        Education</span></h2>
    <p class="col-10 col-md-5 text-center fs-6 fw-light">We're on a mission to bridge the skill gap in the tech
      industry by
      providing
      world-class
      training programs that prepare students for successful careers in technology and digital marketing.</p>
  </div>
  <div class="d-flex flex-column flex-md-row col-11 mt-2 align-items-center justify-content-evenly ">
    <div style="height: 30vh;" data-aos="fade-up" *ngFor="let item of aboutSecAry"
      class="hoverCard border col-10 mb-4 mb-md-0 col-md-2  shadow d-flex flex-column align-items-center justify-content-evenly rounded-4">
      <i [class]="item.icon" [ngStyle]="{ color: item.color }" aria-hidden="true"></i>
      <span class="fs-2 fw-bold">{{item.count}}</span>
      <span class="fw-light font-size">{{item.label}}</span>
    </div>
  </div>
</div>