.header-btn {
  background-color: rgb(122, 0, 170);
  color: white;
}

.header-font-size {
  font-size: 13px;
}

// .container,
// .container-fluid,
// .container-lg,
// .container-md,
// .container-sm,
// .container-xl,
// .container-xxl {
//   --bs-gutter-x: 0rem;
// }
