<div id="Events" class="vw-100 border=0 d-flex flex-column align-items-center gap-3 py-4">
  <!-- id="upcomingEvent" -->
  <div class="col-12 d-flex  align-items-center justify-content-center ">
    <button class="btn btn-bg-border font-color font-size">Upcoming Events</button>
  </div>
  <div class="col-12 d-flex gap-2 flex-column align-items-center justify-content-center ">
    <h2 class="fw-bold fs-1 text-center">Join Our <span class="font-color">Bootcamps & Webinars</span></h2>
    <p class="col-10 col-md-5 text-center fs-6 fw-light">Accelerate your learning with intensive bootcamps and gain
      insights from industry experts through our exclusive webinar series.</p>
  </div>

  <div class="col-12 d-flex flex-column flex-md-row gap-3 gap-md-0  align-items-center justify-content-evenly">
    <div data-aos="fade-up"
      class="col-md-3 col-11 gap-2  py-1 shadow d-flex flex-column  rounded-3  align-items-center justify-content-evenly "
      [ngStyle]="{'border-top': '5px solid ' + item.borderClr}" style="height: 70vh;" *ngFor="let item of upComeEvent">
      <div class="col-11 d-flex gap-2 flex-column">
        <p class="fw-bold fs-5">{{item.tittle}}</p>
        <p class="font-color">{{item.subtitle}}</p>
        <p class="font-size text-muted">{{item.text}}</p>
      </div>
      <div class="col-11 d-flex align-items-center justify-content-evenly">
        <div class="col-8 d-flex gap-2 flex-column font-size">
          <p *ngFor="let i of item.sed"><i class="me-2 font-color" [ngClass]="i.icon"></i>{{i.txt}}</p>
        </div>
        <div class="col-4 d-flex align-items-center justify-content-center"> <span
            class="badge text-secondary bg-secondary-subtle">
            {{item.type}} </span>
        </div>
      </div>
      <div class="col-11 d-flex flex-column gap-2 font-size">
        <p class="col-12 ">What's Included</p>
        <div class="gridClass">
          <li *ngFor="let e of item.includes" class="text-muted">{{e}}</li>
        </div>
      </div>

      <div class="col-11 d-flex align-items-center justify-content-between ">
        <span class="font-color fs-6 fw-bold">Free <span
            class="text-decoration-line-through font-size-1 text-success">{{item.noprice}}</span> </span>

        <span class="badge bg-success-subtle font-size-1  text-success">
          <i class="fa fa-gift"></i>
          Limited Time
        </span>
      </div>

      <button class="btn btn-bg-main col-11 font-size text-white" (click)="goto()">Register Now <i
          class="fa fa-arrow-right"></i>
      </button>

    </div>
  </div>

  <div
    class="col-12 col-md-10 bg-light mt-3 shadow py-4 px-2 gap-4 rounded-3 d-flex flex-column align-items-center justify-content-evenly">
    <div class="col-11 d-flex align-items-center justify-content-between">
      <div class="">
        <p class="fw-bold fs-6">Upcoming Free Webinars</p>
        <p class="font-size text-muted">Join our weekly webinars for career insights and industry trends</p>
      </div>
      <i class="fa fa-video font-color fs-2"></i>
    </div>
    <div class="col-11 d-flex flex-column gap-3 flex-md-row  align-items-center justify-content-between ">
      <div data-aos="fade-up" style="height: auto;"
        class="font-size text-muted ps-1 ps-md-4 col-11  col-md-4 py-2 border shadow-sm bg-light d-flex gap-2 flex-column align-items-start justify-content-evenly rounded-3"
        *ngFor="let i of webniarsAry;let index=index">
        <!-- <p [ngClass]="index === 1 ? 'fw-bold fs-6' : ''">
          {{i}}</p> -->
        <p class="fw-bold ">{{i.t1}}</p>
        <p> <i class="fa fa-calendar"></i> {{i.t2}}</p>
        <p> <i class="fa fa-clock"></i> {{i.t3}}</p>
        <p> <i class="fa fa-users"></i> {{i.t4}}</p>
        <p>{{i.t5}}</p>
        <button class="btn btn-bg-border col-11 font-color font-size" (click)="showMessage()"> <i
            class="fa fa-bell"></i> Set Reminder</button>
      </div>

    </div>
  </div>

  <div
    class="col-10 main-bg-dark mt-3 text-white text-center shadow py-4 px-2 gap-4 rounded-3 d-flex flex-column align-items-center justify-content-evenly font-size ">
    <p class="fs-5">Never Miss an Event</p>
    <p>Subscribe to our newsletter and get notified about upcoming bootcamps, webinars, and exclusive content.</p>
    <div class="col-12 d-flex flex-column flex-md-row align-items-center justify-content-center gap-4 ">
      <input type="email" [(ngModel)]="mail" class="text-white inputNever col-10 col-md-3 btn border-white font-size"
        placeholder="Enter Eamil">
      <button class="btn font-size font-color bg bg-white col-10 col-md-1" (click)="mailMessage()">Subscribe</button>
    </div>
  </div>

</div>