p {
  margin-bottom: 0;
}

.gridClass {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.inputNever::placeholder {
  color: rgb(255, 255, 255); /* Change to your desired color */
  opacity: 1; /* Optional: makes it fully opaque */
}
