p {
    margin-bottom: 0;
}

.rightBorder {
    border: 0.1px solid rgb(211, 211, 211);
    border-left: 5px solid var(--main-color);
}

.hoverCard:hover {
    transition: 0.2s all;
    transform: scale(103%);
}