/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
    --font-landing: 13px;
    --main-bg-light: rgba(219, 166, 255, 0.13);
    --main-color: rgb(115, 0, 138);
}

.font-size {
    font-size: var(--font-landing);
}

.font-color {
    color: var(--main-color);
}

.main-bg-light {
    background: var(--main-bg-light);
}

.main-bg-dark {
    background: var(--main-color);
}