/* You can add global styles to this file, and also import other style files */
// @import 'swiper/swiper-bundle.min.css';
// @import 'owl.carousel/dist/assets/owl.carousel.min.css';
// @import 'owl.carousel/dist/assets/owl.theme.default.min.css';

// @import 'node_modules/primeng/resources/themes/lara-light-blue/theme.css';
// @import 'node_modules/primeng/resources/primeng.min.css';
// @import 'node_modules/primeicons/primeicons.css';

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  --font-landing: 13px;
  --main-bg-light: rgba(219, 166, 255, 0.13);
  --main-bg-light-btn: rgb(205, 130, 255);
  // --main-color: rgb(115, 0, 138);
  --main-color: rgb(141, 15, 224);
}

.font-size {
  font-size: var(--font-landing);
}

.font-size-1 {
  font-size: 10px;
}

.font-color {
  color: var(--main-color);
}

.main-bg-light {
  background: var(--main-bg-light);
}

.main-bg-dark {
  background: var(--main-color);
}

.btn-bg-border {
  border: 1px solid var(--main-color);
}

.btn-bg-main {
  background: var(--main-color);
}

.btn-bg-main:hover {
  border: 1px solid var(--main-color);
  background: var(--main-bg-light-btn);
}

.hoverCard:hover {
  transition: 0.2s all;
  transform: scale(105%);
}

.giveAClr:hover {
  color: var(--main-color);
}
