<div class="container-fluid border-0 border-danger d-flex flex-column align-items-center h-auto overflow-x-hidden ">
  <div style="height: 10vh;"></div>
  <app-header-nav></app-header-nav>
  <app-landing></app-landing>
  <app-about></app-about>
  <app-academy></app-academy>
  <app-learning-path></app-learning-path>
  <app-popular-categories></app-popular-categories>
  <app-bootcamps></app-bootcamps>
  <app-testimonals></app-testimonals>
  <app-upcoming-event></app-upcoming-event>
  <app-campus-contact></app-campus-contact>
  <app-footer></app-footer>
</div>